html, body {
    font-family: system-ui, sans-serif;
    background-color: #F6F6F6;
    margin: 0;
}
a {
    text-decoration: none;
    color: #333;
}

footer {
    padding: 50px 0 0;
}
article {
    display: inline-block;
    list-style: none;
    padding: 0;
    background-color: inherit;
    margin: 5px;
    width: 350px;
}

.image {
    width: 350px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}
.mdImage {
    width: 95%;
    max-width: 700px;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
}

.m0 {
    margin: 0;
}
.m10_0 {
    margin: 10px 0;
}

.pd10_0_5 {
    padding: 10px 0 5px;
}

.fs22 {
    font-size: 22px;
}
.fw_normal {
    font-weight: normal;
}

.textCenter {
    text-align: center;
}